#root {
    text-align: center;
}

body {
    background-image: url(../public/img/bg/bg.webp);
    background-size: 100%;
    min-height: 1400px;
    background-color: #171e1d;
    background-position: top;
    background-repeat: no-repeat;
    font-family: "Amatic SC", sans-serif;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
}

p {
    font-size: 18px;
}

.filter-menu {
    margin: 15px 0;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.row-characters {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr));
    gap: 16px;
    justify-content: center;
}

.row-characters .characters {
    color: #fff4e2;
}

.row-characters .characters figure {
    position: relative;
    box-shadow: 0 0 12px 1px rgba(182, 148, 81, .5);
    display: grid;
    place-items: center;
}

.row-characters .characters figure::before {
    position: absolute;
    content: '';
    width: 95%;
    height: 95%;
    border: 2px solid #b69451;
}

.row-characters .characters figure::after {
    position: absolute;
    content: '';
    width: 90%;
    height: 90%;
    border: 2px solid #b69451;
}

.row-characters .characters img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
}


/* HTML: <div class="loader"></div> */

.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    white-space: pre;
    font-size: 30px;
    line-height: 1.2em;
    height: 1.2em;
    overflow: hidden;
    margin: 0 auto;
}

.loader:before {
    content: "Loading...\A⌰oading...\A⌰⍜ading...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔";
    white-space: pre;
    display: inline-block;
    animation: l39 1s infinite steps(11) alternate;
}

@keyframes l39 {
    100% {
        transform: translateY(-100%)
    }
}