#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.filter-menu {
    margin: 15px 0;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.row-characters {
    /* display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    gap: 16px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.row-characters .characters {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 1px 1px 5px #e3e3e3;
    transition: .3s ease;
    max-width: 300px;
    overflow: hidden;
    color: #000;
}

.row-characters .characters:hover {
    transform: scale(1.02);
}

.row-characters .characters img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
}


/* HTML: <div class="loader"></div> */

.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    white-space: pre;
    font-size: 30px;
    line-height: 1.2em;
    height: 1.2em;
    overflow: hidden;
}

.loader:before {
    content: "Loading...\A⌰oading...\A⌰⍜ading...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔";
    white-space: pre;
    display: inline-block;
    animation: l39 1s infinite steps(11) alternate;
}

@keyframes l39 {
    100% {
        transform: translateY(-100%)
    }
}